@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "field.css";
@import "btn.css";
@import "form.css";
@import "link.css";
@import "typo.css";

.school-detail-grid {
    grid-template-columns: 1fr;
}

@media (min-width: theme('screens.sm')) {
    .school-detail-grid {
        grid-template-columns: 1fr 2fr;
    }
}

.list-disc-block:before {
    @apply mr-2;
    content: "• ";
}

.body {
    color: #323234;
}

.max-w-16 {
    max-width: 16rem;
}

.font-freude {
    font-family: freude, sans-serif;
}

.bg-header {
    background-color: #004a6d;
}

.text-header {
    color: #004a6d;
}

.title-shadow {
    text-shadow: 4px 5px 15px black;
}

@media screen and (min-width: 1050px){
    .header-image {
        background-image: url("/images/podklad_foto.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 70%;
    }
}

.rounded-full {
    border-radius: 9999px !important;
}
