@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "field.css";
@import "btn.css";
@import "form.css";
@import "link.css";
@import "typo.css";
@import "chat.css";
@import "table.css";
@import "force-inline-block.css";

.school-detail-grid {
    grid-template-columns: 1fr;
}

@media (min-width: theme('screens.sm')) {
    .school-detail-grid {
        grid-template-columns: 1fr 2fr;
    }
}

.list-disc-block:before {
    @apply mr-2;
    content: "• ";
}

.body {
    color: #323234;
}

.max-w-16 {
    max-width: 16rem;
}

.font-freude {
    font-family: freude, sans-serif;
}

.bg-header {
    background-color: #004a6d;
}

.text-header {
    color: #004a6d;
}

.title-shadow {
    text-shadow: 4px 5px 15px black;
}

@media screen and (min-width: 1050px){
    .header-image {
        background-image: url("/images/podklad_foto.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 70%;
    }
}

.rounded-full {
    border-radius: 9999px !important;
}

.btn-primary {
    background-color: #004a6d;
}

.btn-primary:hover {
    background-color: #4fd1c5;
}

.h-min-content {
    height: min-content
}

.header-btn-border {
    box-shadow: 0 0 0 5px #004a6d80;
}

.fix-icons {
    margin: 5px 0 5px 10px;
}

.ms-choice {
    background-color: transparent !important;
    border: none !important;
    outline: none;
    height: 20px;
}

.ms-choice > span {
    padding: 9px 10px;
}

.ms-choice:focus {
    outline: none;
}

.max-w-200px {
    max-width: 200px;
}

.w-256px {
    width: 256px;
}

.about-us-img {
    max-width: 700px;
    max-height: 700px;
}

.btn-disabled {
    background-color: #e5e7eb;
    color: #9fa6b2;
    cursor: default;
}

.school-logo {
    max-width: 250px;
    max-height: 120px;
}

.footer-img {
    max-height: 75px;
    display: inline-block;
    filter: grayscale(100%);
    transition: .6s;
    opacity: .6;
}

.footer-img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.k-pce {
    max-height: 60px !important;
}

.urad-prace {
    max-height: 90px !important;
}

.khk-hk {
    max-height: 92px !important;
}

.manson-columns .col-1 {
    display: content;
}

.manson-columns .col-2 {
    display: content;
}

@media (min-width: 850px) {
    .manson-columns {
        width: 100%;
        display: flex;
    }

    .manson-columns .col-1 {
        width: 50%;
        min-height: 50px;
        display: block;
    }

    .manson-columns .col-2 {
        width: 50%;
        min-height: 50px;
        display: block;
    }
}

.list-schools-logo {
    max-height: 150px;
    max-width: 300px;
}

.flag {
    position: absolute;
    top: 32px;
    right: -47px;
    transform: rotate(45deg);
    width: 200px;
}

.bg-light-green {
    background-color: #71bf18;
}

.card-logo {
    max-width: 100px;
    max-height: 150px;
}

.text-shadow {
    text-shadow: -1px 1px 13px black
}

.flash-container .flash-message.flash-error::after {
    content: '' !important;
}
