.send {
    display: grid;
    grid-template-rows: 1fr 2.5em;
}

@media (min-width: theme('screens.sm')) {
    .send {
        grid-template-rows: initial;

        grid-template-columns: 1fr 8em;
    }
}

.chat-window, .chat-switch-window {
    height: 42vh;
}

@media (min-width: theme('screens.md')) {
    .chat-window, .chat-switch-window {
        height: 50vh;
    }
}

.chat-switch-button {
    @apply py-3 px-4 bg-white rounded-lg shadow my-2 cursor-pointer;
}
