body {
    font-family: DejaVu Sans, sans-serif;
}

.title {
    font-weight: 400;
    text-align: center;

    h1 {
        padding-bottom: 14px;
    }
}

@mixin section {
    background-color: #f2f2f2;
    border: 1px solid black;
    padding: 2px 8px;
    font-size: 14px;
    margin-top: 16px;
}

.header {
    @include section;
    text-align: center;
}

.clear {
    clear: both;
}

.company_info {
    @include section;
}

.receipt_info {
    @include section;
}

.items {
    @include section;
    padding-top: 0;
    background-color: white;
}

table {
    width: 100%;
}

.text-right {
    text-align: right;
}

.dashed-divider {
    border-top: 1px dashed black;
    width: 100%;
}

.double-divider {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    height: 1px;
}

.spacer {
    padding-top: 5px;
    padding-right: 23px;
}

.contact-info {
    font-size: 13px;
}

.bold {
    font-weight: bold;
}

.mt-8 {
    margin-top: 8px;
}

.pr-8 {
    padding-right: 8px;
}

.pt-24 {
    padding-top: 24px;
}

.not-an-invoice {
    font-size: 12px;
}

.img-small {
    width: 30%;
}
