.cell {
    @apply py-2 px-6 pr-9 border border-collapse text-center
}

.cell.fw {
    width: calc(calc(100% - 100px) / 4);
}

.th-background {
    background-color: #f7f7f7;
}

.livewire-tooltip img {
    opacity: 0.5;
    position: relative;
    top: -4px;
    left: -4px;
}

.livewire-tooltip-in-title img {
    opacity: 0.5;
    position: relative;
    top: 5px;
}

.livewire-tooltip img:hover, .livewire-tooltip-in-title img:hover {
    opacity: 0.3;
}

.empty{
    @apply border-0;
}
